# EDA Inicial - Case Tembici - Gabriel Ferreira

In [1]:
import pandas as pd

## Viagens

In [2]:
viagens = pd.read_csv("viagens.csv")

In [3]:
viagens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   project           90000 non-null  object
 1   customer          90000 non-null  object
 2   trip              90000 non-null  int64
 3   start_time        90000 non-null  object
 4   end_time          90000 non-null  object
 5   invoice_id        48215 non-null  float64
 6   invoice_line_id   42559 non-null  float64
 7   duration_seconds  90000 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [4]:
viagens.describe()

               trip    invoice_id  invoice_line_id  duration_seconds
count  9.000000e+04  4.821500e+04     4.255900e+04      9.000000e+04
mean   5.655363e+07  3.626571e+07     5.578352e+07      4.608835e+03
std    2.662575e+07  1.876236e+07     2.271609e+07      4.828628e+04
min    1.049270e+06  1.244390e+06     1.569584e+06      6.100000e+01
25%    2.812735e+07  2.996770e+07     3.980890e+07      5.370000e+02
50%    7.668805e+07  3.026525e+07     4.014939e+07      9.900000e+02
75%    7.695822e+07  5.806788e+07     8.181444e+07      1.961000e+03
max    7.722521e+07  5.909970e+07     8.300296e+07      1.650673e+06

In [5]:
viagens.isna().mean().sort_values(ascending=False)

invoice_line_id     0.527122
invoice_id          0.464278
project             0.000000
customer            0.000000
trip                0.000000
start_time          0.000000
end_time            0.000000
duration_seconds    0.000000
dtype: float64

## Customers

In [6]:
customers = pd.read_csv("customers.csv")

In [7]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177532 entries, 0 to 177531
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   customer                    177532 non-null  object
 1   project                     177532 non-null  object
 2   subscription_start_date     177532 non-null  object
 3   subscription_end_date       177523 non-null  object
 4   plan_type                   177532 non-null  object
 5   plan_periodicity            177532 non-null  object
 6   is_customer_first_purchase  177532 non-null  bool
 7   is_customer_returning       177395 non-null  object
 8   plan_cost                   177532 non-null  float64
 9   user_id                     177516 non-null  object
 10  date_joined                 177532 non-null  object
dtypes: bool(1), float64(1), object(9)
memory usage: 13.7+ MB

In [8]:
customers.sample(20)

,customer,project,subscription_start_date,subscription_end_date,plan_type,plan_periodicity,is_customer_first_purchase,is_customer_returning,plan_cost,user_id,date_joined
141470,118646D,D,2025-11-24 11:22:00.426054 UTC,2025-12-24 11:22:03.618883 UTC,LONG,MONTHLY,False,True,43.90,3507969,2025-09-29 08:46:02.394872 UTC
114178,83248D,D,2025-09-12 16:18:45 UTC,2025-10-12 16:18:45 UTC,LONG,MONTHLY,False,False,43.90,2426700,2019-10-04 01:04:37.556111 UTC
168601,629862A,A,2025-11-15 09:35:26 UTC,2025-11-16 09:35:26 UTC,SHORT,DAILY,False,True,2800.00,3021401,2020-01-02 22:00:11.906168 UTC
114080,3743369D,D,2025-11-23 17:37:59 UTC,2025-11-26 22:18:45 UTC,LONG,MONTHLY,False,False,43.90,2302195,2019-09-19 09:32:26.25484 UTC
65754,3757006D,D,2025-11-22 22:18:39 UTC,2025-11-22 22:19:39 UTC,SHORT,1 HOUR,False,True,7.90,12750405,2025-11-22 22:57:46.375761 UTC
169130,1438655A,A,2025-12-07 01:05:14 UTC,2025-12-08 01:05:14 UTC,SHORT,DAILY,False,True,2800.00,12710626,2025-11-02 04:48:17.403837 UTC
172189,84813I,I,2025-11-22 19:38:27.245555 UTC,2025-12-22 19:38:27.242804 UTC,LONG,MONTHLY,False,True,7990.00,8849493,2023-05-08 23:24:40.336029 UTC
5513,374892D,D,2025-09-15 08:32:50 UTC,2025-10-15 08:32:50 UTC,LONG,MONTHLY,False,True,0.00,733610,2019-04-22 12:03:05.766982 UTC
113734,836161D,D,2025-10-12 17:50:08.916121 UTC,2025-11-11 17:50:06.597596 UTC,LONG,MONTHLY,False,True,43.90,2005271,2019-08-06 21:25:20.82897 UTC
56570,2996154D,D,2025-12-02 16:56:52 UTC,2025-12-02 16:57:52 UTC,SHORT,1 HOUR,False,True,7.90,11020733,2024-08-07 15:02:34.799458 UTC
13235,1190452A,A,2025-12-13 09:54:41 UTC,2026-01-13 09:54:41 UTC,LONG,MONTHLY,False,True,0.00,2724046,2019-11-12 21:28:53.258978 UTC
160231,1090225A,A,2025-10-04 20:52:50 UTC,2025-10-04 21:37:50 UTC,SHORT,1 HOUR,False,True,870.00,8037085,2022-12-16 14:30:36.105667 UTC
85224,3054661D,D,2025-09-30 10:22:24.194785 UTC,2025-10-30 10:22:24.192166 UTC,LONG,MONTHLY,False,True,29.27,11167767,2025-09-02 04:14:56.320412 UTC
122921,3563710D,D,2025-09-05 12:40:06.041399 UTC,2025-10-05 12:40:05.659084 UTC,LONG,MONTHLY,False,True,43.90,12506777,2025-08-19 03:22:19.705476 UTC
10204,366230A,A,2025-11-03 17:35:24 UTC,2025-11-16 11:57:02 UTC,LONG,MONTHLY,False,False,0.00,1544745,2019-06-23 03:41:57.362682 UTC
86870,513130C,C,2025-11-01 08:10:04.615772 UTC,2025-12-01 08:10:03.689834 UTC,LONG,MONTHLY,False,False,29.90,12558098,2025-08-17 11:11:52.27336 UTC
152833,292282D,D,2025-05-07 09:58:58 UTC,2026-05-07 09:58:58 UTC,LONG,YEARLY,False,True,281.90,341124,2025-09-18 04:57:33.887706 UTC
98533,685637D,D,2025-10-25 15:00:09.694104 UTC,2025-11-24 15:00:06.425345 UTC,LONG,MONTHLY,False,False,39.90,560494,2019-03-25 11:13:02.953663 UTC
63975,3743275D,D,2025-11-17 16:37:58 UTC,2025-11-17 16:38:58 UTC,SHORT,1 HOUR,True,False,7.90,12737531,2025-11-16 15:21:11.716337 UTC
90135,2353467E,E,2025-12-10 18:50:47 UTC,2025-12-17 18:50:47 UTC,LONG,WEEKLY,False,True,32.00,12725771,2025-11-09 22:05:49.069812 UTC

In [9]:
customers.describe()

           plan_cost
count  177532.000000
mean     1251.239686
std      8391.572015
min         0.000000
25%         0.000000
50%        32.000000
75%        43.900000
max    248900.000000

In [10]:
# converter user_id pra string
customers['user_id'] = customers['user_id'].astype(str)

In [11]:
customers['user_id'].duplicated().mean()

np.float64(0.6875999819750805)

In [12]:
customers.to_csv("customers.csv", index=False)

## Faturas

In [13]:
faturas = pd.read_csv("faturas.csv")

In [14]:
faturas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17757 entries, 0 to 17756
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   invoice_id       17757 non-null  int64
 1   invoice_line_id  17757 non-null  int64
 2   project          17757 non-null  object
 3   invoice_status   17757 non-null  object
 4   usage_fee        17757 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 693.8+ KB

In [15]:
faturas.describe()

         invoice_id  invoice_line_id     usage_fee
count  1.775700e+04     1.775700e+04  17757.000000
mean   3.203533e+07     4.411879e+07      9.593240
std    2.457304e+07     3.523096e+07     17.465830
min    1.244390e+06     1.569613e+06      0.048914
25%    3.814045e+06     3.856221e+06      1.980000
50%    3.022589e+07     3.995858e+07      6.000000
75%    5.818695e+07     8.188185e+07      9.990000
max    5.867387e+07     8.247967e+07   1100.100000

In [16]:
faturas.isna().mean().sort_values(ascending=False)

invoice_id         0.0
invoice_line_id    0.0
project            0.0
invoice_status     0.0
usage_fee          0.0
dtype: float64

In [17]:
faturas['invoice_id'].duplicated().mean()

np.float64(0.18088641099284788)

In [18]:
faturas['invoice_line_id'].duplicated().mean()

np.float64(0.0)

## Unlcok_erros

In [19]:
unlock_erros = pd.read_csv("unlock_erros.csv")

In [20]:
unlock_erros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196966 entries, 0 to 196965
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          196966 non-null  object
 1   project          196966 non-null  object
 2   event_timestamp  196966 non-null  object
 3   event_name       196966 non-null  object
 4   error_type       100973 non-null  object
dtypes: object(5)
memory usage: 7.5+ MB

In [21]:
unlock_erros.describe()

,user_id,project,event_timestamp,event_name,error_type
count,196966,196966,196966,196966,100973
unique,16311,12,56416,1,40
top,12391392,D,2025-11-03 12:29:56.455003 UTC,unlock_qr_code_fail,/bff/qrcode/ebike_warning
freq,712,95979,16,196966,25440

In [22]:
unlock_erros.isna().mean().sort_values(ascending=False)

error_type         0.487358
user_id            0.000000
project            0.000000
event_timestamp    0.000000
event_name         0.000000
dtype: float64